.home {
	text-decoration: underline;
	margin-bottom: 15px;
}

label, input, a {
	display: inline-block;
}

label {
	width: 150px;
}

input[type="text"], input[type="date"] {
	width: 175px;
}

.button_group {
	margin: 10px 0 0 173px;
}