/*CSS reset*/
* {
	padding: 0;
	margin: 0;
}

body {
	font-family: arial, sans serif;
}

input[type="text"] {
	margin-left: 20px;
}

#wrapper {
	background-color: #c7c7c7;
	width: 900px;
	height: auto;
	margin: 0 auto;
	display:block;
}

#loading {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -16px 0px 0px -16px;
}