<html>
	<head>
		<title>Chat Room</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
			  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="styles.css">
		<script type ="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
		<script type ="text/javascript" src="chatroom.js"></script>
	</head>
	<body>
		<div id="wrapper">
			<div id="name_form">
				<p>The page at <%= host %> says:</p>
				<form action='/' method='post'>
					<label for="name">Your Name:</label>
					<input type="text" name="name" id="name">
					<a href="/" class="btn btn-default">Cancel</a>
					<input id="submit_form" class="btn btn-default" type="submit" value="OK">
				</form>
			</div>
			<div id="message_placeholder" class="hidden">
				<h4>Messages</h4>
				<div>
				</div>
			</div>
			<div id="users" class="hidden">
				<button class="btn btn-danger">Disconnect</button>
				<h3>Who's online</h3>
			</div>
		</div>
	</body>
</html>