* {
	padding: 0;
	margin: 0;
}

body {
	font-family: arial;
}

input[type="submit"]  {
	font-size: 0.9em;
	margin: 0;
	padding: 2px 4px;
	background-color: #76a5af;
	color: white;
	border: 1px solid black;
	box-shadow: 1px 1px 2px black;
	cursor:pointer;
}

a.button {
	font-size: 0.9em;
	display: inline-block;
	text-align: center;
	margin: 0;
	text-decoration: none;
	padding: 2px 4px;
	background-color: #76a5af;
	color: white;
	border: 1px solid black;
	box-shadow: 1px 1px 2px black;
}

a.link {
}

/* Need to add some default stuff to a.link */
/* End my personal resets and favorite styles */

#wrapper {
	padding-top: 40px;
	margin: 0 auto;
	width: 990px;
	text-align: center;
}

img {
	width: 400px;
}

figure {
	display: inline-block;
	vertical-align: middle;
	margin: 40px;
}

figcaption {
	font-weight: bold;
}