* {
	padding: 0;
	margin: 0;
}

body {
	font-family: arial;
}

h1 {
	border-bottom: 1px solid black;
	font-size: 1.4em;
	margin: 10px 100px 10px 5px;
	display: inline-block;
}

h2 {
	width: 170px;
	margin-top: 10px;
	font-weight: normal;
	display: inline-block;
	font-size: 1.2em;
}

p {
	display: inline-block;
	margin-top: 5px;
}

label, input, select {
	display: inline-block;
}

label {
	margin: 10px;
	width: 140px;
}

input[type="text"], select {
	width: 125px;
}

input[type="submit"], a {
	margin: 10px 0 0 238px;
	padding: 2px 4px;
}

a {
	width: 90px;
	margin: 55px 0 0 220px;
}

textarea {
	width: 280px;
	height: 75px;
	margin-left: 10px;
}

#wrapper {
	margin: 30px 0 0 70px;
	padding: 15px;
	width: 340px;
	min-height: 300px;
}

#wrapper div {
	border: 1px solid black;
	padding: 5px;
}

#placeholder {
	display: none;
	background-color: #b6d7a8;
	margin-bottom: 20px;
}