<h1>Quotes List</h1>
<div class="quote_div" *ngFor='let quote of appQuotes'>
	<div class="quote">
		<p>{{ quote.contents }}</p>
		<p>- {{ quote.author }}</p>
	</div>
	<div class="rating">
		<h2>{{ quote.rating > 0 ? "+" + quote.rating  : quote.rating }}</h2>
	</div>
	<div class="controls">
		<button class="btn btn-success" (click)='triggerEvent({id:quote.id,action:"up"})'>Vote Up</button>
		<button class="btn btn-warning" (click)='triggerEvent({id:quote.id,action:"down"})'>Vote Down</button>
		<button class="btn btn-danger" (click)='triggerEvent({id:quote.id,action:"delete"})'>Delete</button>
	</div>
</div>