<!DOCTYPE html>
<html>
	<head>
		<title>Cars</title>
		<link rel="stylesheet" type="text/css" href="../stylesheets/styles.css">
	</head>
	<body>
		<div id="wrapper">
			<h1>Next Christmas maybe...</h1>
			<figure>
				<img src="../images/034.png" alt="Audi R8">
				<figcaption>Audi R8</figcaption>
			</figure>
			<figure>
				<img src="../images/lexusRC350.png" alt="Lexus RC 350">
				<figcaption>Lexus RC 350</figcaption>
			</figure>
			<figure>
				<img src="../images/audiS8Plus.jpg" alt="Audi S8 Plus">
				<figcaption>Audi S8 Plus</figcaption>
			</figure>
			<figure>
				<img src="../images/teslaRoadster.jpg" alt="Tesla Roadster">
				<figcaption>Tesla Roadster</figcaption>
			</figure>
		</div>
	</body>
</html>