<!DOCTYPE html>
<html>
	<head>
		<title>Cars</title>
		<link rel="stylesheet" type="text/css" href="../stylesheets/styles.css">
	</head>
	<body>
		<div id="wrapper">
			<h1>Cool cats</h1>
			<figure>
				<img src="../images/lennonCat.jpg" alt="Lennon Cat">
				<figcaption>Lennon Cat</figcaption>
			</figure>
			<figure>
				<img src="../images/yokoCat.jpg" alt="Yoko Cat">
				<figcaption>Yoko Cat</figcaption>
			</figure>
			<figure>
				<img src="../images/coolCatFriends.jpeg" alt="Cool Cat Friends">
				<figcaption>Cool Cat Friends</figcaption>
			</figure>
			<figure>
				<img src="../images/chillinCat.jpg" alt="Chillin Cat">
				<figcaption>Chillin Cat</figcaption>
			</figure>
		</div>
	</body>
</html>