<!DOCTYPE html>
<html>
	<head>
		<title>New Car Form</title>
	</head>
	<body>
		<div id="wrapper">
			<h1>New car form</h1>
			<form onsubmit="alert('Form Submitted'); return false;">
  				<fieldset>
    				<legend>New Car Information:</legend>
					<label for="manufacturer">Manufacturer:</label>
					<input type="text" manufacturer="manufacturer" id="manufacturer">
				    <label for="model">Model:</label>
				    <input type="text" name="model" id="model">
				    <label for="year">Year:</label>
				    <input type="text" name="year" id="year">
				    <label for="base_price">Base Price:</label>
			    	<input type="text" name="base_price" id="base_price">
				    <input type="submit" value="Submit">
				</fieldset>
			</form>
		</div>
	</body>
</html>